.cards {
    flex-grow: .2;
    height: 14rem;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    margin: 5px auto;
}
.top{
    flex-grow: .2;
    width: 70%;
    border-radius: 5px;
    margin: 5px auto;
}

.answer {
    border: 1px solid #9900ab;
    height: 30px;
    border-radius: 5px;
}

span{
    margin-left: 5px;
}
.top h4{
    color: #9900ab;
}
.answer:focus {
    border: 1px solid #9900ab;

}

.card3 {
    border: 1px solid #9900ab;

}

.new-rectangle .form{
    border:1px solid #9900ab;
    height: auto;
}
.new-rectangle .form .inputs{
    border:1px solid #9900ab;
}

.new-rectangle .result{
    border:1px solid #9900ab;
}
.rectangle .cards{
    border:1px solid #9900ab;
    height: auto;
}
.rectangle .shift{
    margin-left: 30px;
}
.rectangle .detail{
    width: 68%;
    border:1px solid #9900ab;
    height: auto;
}
.rectangle .detail .inputs{
    border:1px solid #9900ab;
}
.rectangle .detail .trash{
    color: rgb(240, 93, 93);
    margin-left: 30%;
    margin-top: 5%;
    cursor: pointer;
}
.rectangle button{
    cursor: pointer;
}

.rectangle .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}